@define-color border-color @bg_color;

.title {
	padding-left: 4px;
}

window {
	background-color: #404552;
}

headerbar box:last-child {
	padding-left: 0;
}

headerbar button#preferences.image-button {
	border-radius: 50%;
	margin-right: -8px;
	padding: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

headerbar #preferences image {
	opacity: .7;
	-gtk-icon-transform: scale(0.75);
}


headerbar box:last-child separator {
	border-width: 0;
	border-image-source: none;
}

/* Fix double border on tab layout */
notebook {
	border-width: 0;
	border-top-width: 1px;
}

/* Apply a border to select elements. */

.bordered {
	border: 1px solid @border-color;
}

scrollbar {
	border-color: @border-color;
}

/* At some point, figure out how to replace
the hardcoded values with theme colors. */

#meter scale.visualizer trough highlight {
	background-color: alpha(rgb(82, 148, 226), 0.4);
}

#meter scale.visualizer trough fill {
	background-color: alpha(rgb(82, 148, 226), 1);
}

#meter {
	padding-top: 4px;
}

/* Pad the system volume since it's not got a scrollbar.
Value should be dynamically determined later. */

#meter.outer {
	/*padding-bottom: 13px;*/
	margin-right: 4px;
}

#meter #app_label {
	padding: 0 4px;
}

#meter #app_select {
	padding: 0;
	margin: -1px 4px;
}

#meter #app_select #app_label {
	padding: 0;
}

/* Styles for the Mute indicator button. */

#meter #mute_toggle image {
	margin-top: 1px;
}

#meter #mute_toggle label {
	margin-left: 4px;
}

#meter #mute_toggle.muted {
	border-color: @bg_color;
}

#meter #mute_toggle.muted {
	color: alpha(@fg_color, 0.4);
}

/* Hide the weird dotted lines on the
sides of the scroll container. */

undershoot {
	background: none;
}

/* Button groups: Remove borders, adjust padding,
de-emphasize non-important interactions.
TRY USING .linked ON THE PARENT BOX BEFORE USING THIS */

/*.button_group {
	margin: 0px 4px;
}

.button_group button {
	padding: 2px 2px;
}

.button_group button:first-child image, .button_group button:last-child image {
	opacity: 0.5;
}

.button_group button:first-child {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_group button:nth-child(2) {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.button_group button:last-child {
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}*/
