@define-color border_color darker(@background_color);

.title {
	padding-left: 4px;
}

headerbar box:last-child {
	padding-left: 0;
}

headerbar button#preferences.image-button {
	border-radius: 50%;
	margin-right: -8px;
	padding: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
}

headerbar #preferences image {
	opacity: .7;
	-gtk-icon-transform: scale(0.75);
}


headerbar box:last-child separator {
	border-width: 0;
	border-image-source: none;
}

/* Fix double border on tab layout */
notebook {
	border-width: 0;
	border-top-width: 1px;
}

/* Apply a border to select elements. */

.bordered {
	border: 1px solid @border_color;
}

scrollbar {
	border-color: @border_color;
}

/* At some point, figure out how to replace
the hardcoded values with theme colors. */

#meter scale.visualizer trough highlight {
	background: none;
	background-color: alpha(@scale_color, 0.4);
}

#meter scale.visualizer trough fill {
	background: none;
	background-color: alpha(@scale_color, 1);
}

#meter {
	padding-top: 4px;
}

/* Pad the system volume since it's not got a scrollbar.
Value should be dynamically determined later. */

#meter.outer {
	/*padding-bottom: 13px;*/
	margin-right: 4px;
}

#meter #app_label {
	padding: 0 4px;
}

#meter #app_select {
	padding: 0;
	margin: -1px 2px;
}

#meter #app_select #app_label {
	padding: 0;
}

/* Styles for the Mute indicator button. */

#meter #mute_toggle image {
	margin-top: 1px;
}

#meter #mute_toggle label {
	margin-left: 4px;
}

#meter #mute_toggle.muted {
	border-color: @border_color;
}

#meter #mute_toggle.muted {
	color: alpha(@foreground_color, 0.4);
}

/* Hide the weird dotted lines on the
sides of the scroll container. */

undershoot {
	background: none;
}
